apiVersion: v1
kind: Service
metadata:
  name: hello-gitops
  namespace: hello-gitops-new
spec:
  selector:
    app: hello-gitops
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8050
  type: LoadBalancer

